/* COMMANDER */
#commandeCiao .img-wrap {
	height: 150px;
	overflow: hidden;
}

#commander input[type=number]::-webkit-inner-spin-button,
#commander input[type=number]::-webkit-outer-spin-button {
	opacity: 1;
}

#commandeCiao .large {
	max-width: 500px;
	margin: 0 auto;
	margin-top: 25px;
}

#commandeCiao .form-control {
	border-radius: 0px;
}

#commandeCiao label {
	font-weight: bold;
}

#commandeCiao input[type="submit"] {
	width: 100%;
	height: 50px;
	background-color: #7CD0F5;
	color: #fff;
	font-weight: bold;
}

#commandeCiao input[type="submit"]:hover {
	background-color: #00254F;
	transition: 1s;
}

#commander .wpcf7 {
	padding: 3rem !important;
}

#commander p:first-child {
	padding: 0 3rem;
	margin-bottom: 0;
}

@media (max-width: 550px) {
	#commander .wpcf7 {
		padding: 1rem !important;
	}

	#commander p:first-child {
		padding: 0 1rem;
	}
}
